services:
  {{ ansible_host_namespace }}:
    platform: linux/amd64
    image: 727646500036.dkr.ecr.ap-northeast-2.amazonaws.com/gitfolio/{{ ansible_host_namespace }}:dev
    container_name: gitfolio_{{ ansible_host_namespace }}
    ports:
      - target: {{ ansible_host_port }}
        published: 80
        protocol: tcp
      - target: {{ ansible_host_port }}
        published: 443
        protocol: tcp
    env_file:
      - .env
    networks:
      - {{ ansible_network_namespace }}
      
networks:
  {{ ansible_network_namespace }}:
    driver: overlay
    attachable: true