services:
  {{ ansible_host_namespace1 }}:
    platform: linux/amd64
    image: 727646500036.dkr.ecr.ap-northeast-2.amazonaws.com/gitfolio/{{ ansible_host_namespace1 }}:dev
    container_name: gitfolio_{{ ansible_host_namespace1 }}
    ports:
      - target: {{ ansible_host_port }}
        published: 80
        protocol: tcp
      - target: {{ ansible_host_port }}
        published: 443
        protocol: tcp
    networks:
      - {{ ansible_network_namespace }}
      
  {{ ansible_host_namespace2 }}:
    platform: linux/amd64
    image: 727646500036.dkr.ecr.ap-northeast-2.amazonaws.com/gitfolio/{{ ansible_host_namespace2 }}:dev
    container_name: gitfolio_{{ ansible_host_namespace2 }}
    ports:
      - target: {{ ansible_host_port }}
        published: 81
        protocol: tcp
      - target: {{ ansible_host_port }}
        published: 444
        protocol: tcp
    networks:
      - {{ ansible_network_namespace }}
      
networks:
  {{ ansible_network_namespace }}:
    driver: overlay
    attachable: true